@model vidly.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>

@if (Model.Customers.Count() == 0)
{
    <text>No customers</text>
}
else
{
    @*<ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>*@

    <table class="table	table-bordered	table-hover">
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
      
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(@customer.Name, "Edit", "Customers", new { id = @customer.ID }, null)</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }      
    </table>

}
